/*
    CSS 4ever
*/

.container {
    margin-top: 80px;
}

table thead tr {
    border-bottom: 1px solid #e6e6e6;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
background: #f2f2f2; }

pre.error {
    font-size: 0.8rem;
    line-height: 1.2;
}

header, section {
    margin-bottom: 60px;
}