# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

dist/
lib/
lib64/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot

# tmp for tmp files
tmp/*

# ipython notebook stuff
.ipynb_checkpoints/

# env
.env
settings.cfg

# app

staticfiles/*
!staticfiles/humans.txt
!staticfiles/CACHE/.keep
media/
!*.sql
sandbox/
