ipython
Gunicorn
librabbitmq
celery[eventlet]
django-atomic-celery
requests
redis
CacheControl
simplejson
ujson
jsonschema
psycopg2
pytz
Django>=1.7
dj_database_url
django-hstore
django-postgrespool
djorm-pgarray
whitenoise
django-extensions