redis
Gunicorn
celery[gevent,redis]
requests
CacheControl
simplejson
ujson
jsonschema
psycopg2
pytz
https://www.djangoproject.com/download/1.7c3/tarball/#egg=Django
django-hstore
djorm-pgarray
django-compressor
whitenoise
django-extensions