{% extends "base.html" %}{% load staticfiles %}
{% block pagetitle %}Agencies | {{ block.super }}{% endblock pagetitle %}
{% block content %}
    <header>
        <h2>Agencies</h2>
        <h3 class="subheader">{{ object_list|length }} agencies</h3>
    </header>
    <table>
        <thead>
            <tr>
                <th>Agency</th>
                <th>Type</th>
                <th>Last Audit</th>
            </tr>
        </thead>
        <tbody>{% for item in object_list %}
            <tr id="{{ item.slug }}">
                <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                <td>{{ item.get_agency_type_display }}</td>
                <td>{{ item.audit_set.last.created_at }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}