{% extends "base.html" %}{% load staticfiles %}{% load compress %}{% load tz %}{% load brains %}
{% block content %}
    <h2>{{ agency.name }} <small>{{ agency.agency_type }} Agency</small></h2>
    <dl>
        <dt>Website</dt>
        <dd>{{ agency.url|urlize }}</dd>
    </dl>
    {% regroup agency.reports.all by url as url_list %}
    {% for report_url in url_list %}
    <section>
        <h3>Reports on
        {% if report_url.grouper == agency.data_json_url %}
        Data Catalog
        {% elif report_url.grouper == agency.digitalstrategy_json_url %}
        Digital Strategy
        {% endif %}
        <small>{{ report_url.grouper|urlize }}</small>
        </h3>
        <table>
            <thead>
                <tr>
                    <th>Report date</th>
                    {# <th>Requested url</th> #}
                    <th>Final url</th>
                    <th>HTTP status</th>
                    <th>Parsable as JSON</th>
                    <th>JSON has errors</th>
                    <th>Is valid data catalog</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for report in report_url.list %}
                <tr>
                    <td>{{ report.created_at|localtime }}</td>
                    {# <td>{{ report.responses.earliest.requested_url }}</td> #}
                    <td>{{ report.responses.earliest.url|urlizetrunc:26 }}</td>
                    <td>{{ report.responses.earliest.status_code }}</td>
                    <td><span class="label {{ report.info.json_parsed|truthy:'success,alert,secondary' }}">{{ report.info.json_parsed|truthy:"yes,no,unknown"|title }}</span></td>
                    <td><span class="label {{ report.info.json_errors|truthy:'alert,success,secondary' }}">{{ report.info.json_errors|truthy:"yes,no,unknown"|title }}</span></td>
                    <td><span class="label {{ report.info.is_valid_data_catalog|truthy:'success,alert,secondary' }}">{{ report.info.is_valid_data_catalog|truthy:"yes,no,unknown"|title }}</span></td>
                    <td>View full report</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {# {% compress js %} #}
    {# // <script type="text/javascript" src="/static/bower_components/socket.io-client/dist/socket.io.min.js"></script> #}
    {# // <script type="text/javascript" src="/static/js/audit.js"></script> #}
    {# {% endcompress %} #}
{% endblock %}