{% extends "base.html" %}{% load staticfiles %}{% load compress %}{% load tz %}{% load brains %}
{% block content %}
    <header>
        <h2>{{ agency.name }} <small>{{ agency.agency_type }} Agency</small></h2>
        <dl>
            <dt>Website</dt>
            <dd>{{ agency.url|urlize }}</dd>
        </dl>

    </header>
    {% regroup agency.audit_set.all by get_audit_type_display as audits_by_type %}
    {% for audit_type in audits_by_type %}
    <section>
        <h3>{{ audit_type.grouper }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Report created</th>
                    <th>Report updated</th>
                    <th>Final url</th>
                    <th>HTTP status</th>
                    <th>Parsable as JSON</th>
                    <th>JSON has errors</th>
                    <th>Is valid data catalog</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for report in audit_type.list %}
                <tr>
                    <td>{{ report.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ report.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ report.inspections.earliest.url|urlizetrunc:26 }}</td>
                    <td>{{ report.inspections.earliest.status_code|httpreason:True }}</td>
                    {% if report.audit_type == 'DCV' %}
                    <td><span class="label {{ report.inspections.earliest.info.is_json|truthy:'success,alert,secondary' }}">{{ report.inspections.earliest.info.is_json|truthy:"yes,no,unknown"|title }}</span></td>
                    <td><span class="label {{ report.inspections.earliest.info.json_errors|truthy:'alert,success,secondary' }}">{{ report.inspections.earliest.info.json_errors|truthy:"yes,no,unknown"|title }}</span></td>
                    <td><span class="label {{ report.inspections.earliest.info.is_valid_data_catalog|truthy:'success,alert,secondary' }}">{{ report.inspections.earliest.info.is_valid_data_catalog|truthy:"yes,no,unknown"|title }}</span></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                    <td><a href='{{ report.get_absolute_url }}'>View full report</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
{% endblock %}
