{% extends "base.html" %}{% load staticfiles %}{% load compress %}{% load tz %}{% load brains %}
{% block content %}
{% include "_audit_header.html" %}
<h5><a href="{{ object.get_absolute_url }}">Return to summary page</a></h5>
{% if is_paginated %}
<p>URLs: <strong>{{ page_obj.start_index }}-{{ page_obj.end_index }}</strong> of {{ paginator.count }}</p>
{% endif %}
{% include "_pagination_links.html" %}
<table>
    <thead>
        <tr>
            <th>URL</th>
            <th>Status code</th>
            <th>Content type</th>
            <th>Number of non-HTTP Errors</th>
            <th>Access level</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
{% for resp in object.inspections %}
        <tr>
            <td>{{ resp.requested_url|urlizetrunc:100 }}</td>
            <td><span class="label {% spaceless %}
            {% if resp.status_code and resp.status_code < 400 %}
                warn
            {% else %}
                alert
            {% endif %}
            {% endspaceless %}">{{ resp.status_code|httpreason:True|default:"Unknown" }}</span></td>
            <td>{{ resp.content_type }}</td>
            <td>{{ resp.errors|length }}</td>
            <td>{{ resp.info.accessLevel|title }}</td>
            <td>{{ resp.info.urlType|default:"None" }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% include "_pagination_links.html" %}
{% if is_paginated %}
<p>URLs: <strong>{{ page_obj.start_index }}-{{ page_obj.end_index }}</strong> of {{ paginator.count }}</p>
{% endif %}
{% endblock %}