{% extends "base.html" %}{% load staticfiles %}{% load tz %}{% load brains %}
{% block pagetitle %}{{ audit.agency }}: {{ audit.get_audit_type_display }} | {{ block.super }}{% endblock pagetitle %}
{% block content %}
    {% include "_audit_header.html" %}
    <section>
        <h3>Summary</h3>
        <h4 class="subheader">Ran {{ object.probe_set.count }} probes for audit.</h4>
        <h4 class="subheader">{{ object.url_inspections_count|default:0 }} URLs were inspected.</h4>
        <h4 class="subheader">{{ object.error_count }} Errors were recorded.</h4>
        <p><a href="{% url 'audit-url-list' pk=object.pk %}">View the results</a></p>
    </section>
{% endblock %}