<!DOCTYPE html>{% load staticfiles %}{% load compress %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block pagetitle %}Federal Agency Open Data Audit{% endblock pagetitle %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'bower_components/foundation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endcompress %}
</head>
<body>
    <div class="fixed">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Federal Agency Open Data Audit</a></h1>
                </li>
            </ul>
              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a href="{% url 'agency-list' %}">Agencies</a></li>
                  <li><a href="{% url 'audits-list' %}">Audits</a></li>
                </ul>
              </section>
        </nav>
    </div>
    <div class="container">
        <div class="row">
        <div class="columns large-12">{% block content %}{% endblock %}
        </div>
        </div>
    </div>
{% block extrajs %}
{% compress js %}
    <script src="{% static 'bower_components/foundation/js/vendor/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/vendor/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/vendor/placeholder.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/vendor/fastclick.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/vendor/modernizr.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{% endblock %}
</body>
</html>