{% extends "base.html" %}{% load staticfiles %}

{% block content %}
    <header>
        <h2>Reports</h2>
        <h3 class="subhead">{{ reports|length }} reports</h3>
    </header>
    <table>
        <thead>
            <tr>
                <th>Report</th>
                <th>Agency</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>{% for item in reports %}
            <tr>
                <td><a href="{{ item.get_absolute_url }}">{{ item|truncatechars:40 }}</a></td>
                <td>{{ item.agency.name }}</td>
                <td>{{ item.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>{{ item.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}