{% extends "base.html" %}{% load staticfiles %}{% load compress %}{% load tz %}{% load brains %}
{% block content %}
    <h2>Report on {{ report.url|urlizetrunc:60 }}</h2>
    {# <h3><small>Agency:</small> {{report.agency }}</h3> #}
    <dl>
        <dt>Created</dt>
        <dd>{{ report.created_at }}</dd>
        <dt>Status</dt>
        <dd>{{ report.responses.earliest.status_code }}: <strong>{{ report.responses.earliest.status_code|httpreason|title }}</strong> </dd>
        {% if report.responses.earliest.status_code = 200 %}
        <dt>Parsable JSON?</dt>
        <dd>{{ report.info.is_json|truthy:"yes,no,unknown"|title }}</dd>
        {% endif %}
    </dl>
    <section id="errors">
        <h3>Errors</h3>
    {% if report.responses.earliest.status_code != 200 %}
        <p>Received an error of "{{ report.responses.earliest.status_code|httpreason:True }}" while attempting to access {{ report.url }}</p>
    {% else %}
        {% for error in report.errors %}
        <div class="panel failure"><pre>{{ error }}</pre></div>
        {% empty %}
        <h4 class="success">No errors found.</h4>
        {% endfor %}
    {% endif %}
    </section>

{% endblock %}