{% extends "base.html" %}{% load staticfiles %}{% load compress %}{% load tz %}{% load brains %}
{% block content %}
    {% include "_report_header.html" %}
    <section>
        <h3>Summary</h3>
    {% if report.messages|length %}
        {% for msg in report.messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
        <h4 class="subheader">Visted {{ report.inspections.count }} URLs for report</h4>
        <table>
            <caption>Here are the first 10 responses:</caption>
            <thead>
                <tr>
                    <th>Requested url</th>
                    <th>Content type</th>
                    <th>HTTP status</th>
                    <th>Errors</th>
                </tr>
            </thead>
            <tbody>
            {% for resp in report.inspections.all|slice:":10" %}
                <tr>
                    <td>{{ resp.requested_url|urlizetrunc:60 }}</td>
                    <td>{{ resp.content_type|default:"Not reported" }}</td>
                    <td>{{ resp.status_code|httpreason:True|default:"Unknown" }}</td>
                    <td>
                    {% if resp.errors.count > 0 %}
                    {{ resp.errors|join:", "|truncatewords:200 }}
                    {% elif resp.status_code > 299 %}
                    See HTTP status
                    {% else %}
                    None
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a href="{% url 'report-url-list' pk=report.pk %}">View all results</a></p>
    </section>
{% endblock %}