{% extends "base.html" %}

{% block content %}
    <h2>{{ agency.name }} <small>{{ agency.agency_type }} Agency</small></h2>
    <dl>
        <dt>Data Listing (for humans)</dt>
        <dd>{{ agency.data_page_url|urlize(nofollow=True)|default('None/Unknown', true) }}</dd>
        <dt>Data Listing (for computers)</dt>
        <dd>{{ agency.data_json_url|urlize(nofollow=True)|default('None/Unknown', true) }}</dd>
        <dt>Digital Strategy</dt>
        <dd>{{ agency.digitalstrategy_json_url|urlize(nofollow=True)|default('None/Unknown', true) }}</dd>
    </dl>
    <h3>Audit</h3>
    <p><a href="#" class="button">Run Audit</a></p>
{% endblock %}